[submodule "JoshCodes.Web"]
	path = JoshCodes.Web
	url = git@github.com:joshcodes/JoshCodes.Web.git
[submodule "JoshCodes.Web.Testing.Unit"]
	path = JoshCodes.Web.Testing.Unit
	url = git@github.com:joshcodes/JoshCodes.Web.Testing.git
[submodule "JoshCodes.Core"]
	path = JoshCodes.Core
	url = git@github.com:joshcodes/JoshCodes.Core.git
